export XDG_CONFIG_HOME="$HOME/.config"
export EDITOR="$HOME/.dotfiles/bin/editor"
export GIT_EDITOR="/usr/local/bin/nano"
export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR=/usr/local/share/zsh-syntax-highlighting/highlighters
export LC_ALL=en_US.UTF-8

# nvm
export NVM_DIR="$XDG_CONFIG_HOME/nvm"

# Android
export ANDROID_HOME=$HOME/Library/Android/sdk

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# History
export HISTSIZE=32768;
export HISTFILESIZE="${HISTSIZE}";
export SAVEHIST=4096
export HISTCONTROL=ignoredups:erasedups

# Highlight section titles in man pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';
